<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Magicsora.magicegg">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.Magicsora.magicegg.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.Magicsora.magicegg.food"></activity>
        <activity android:name="com.Magicsora.magicegg.answer"></activity>
        <activity android:name="com.Magicsora.magicegg.drink"></activity>
        <activity android:name="com.Magicsora.magicegg.what"></activity>
        <activity android:name="com.Magicsora.magicegg.yes"></activity>

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3117148886736419~2479048519"/>

    </application>

</manifest>